<!--<div>-->
<!--<ul class="heroes">-->
<!--<li *ngFor="let hero of heroes"-->
<!--(click)="onSelect(hero)"-->
<!--[class.selected]="hero === selectHero">-->
<!--<span class="badge">{{hero.id}} &nbsp;</span> &nbsp;{{hero.name}}-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<div>
  <label>Hero name:
    <input #heroName/>
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(heroName.value); heroName.value=''">
    add
  </button>
</div>
<div>
  <ul class="heroes">
    <li *ngFor="let hero of heroes">
      <a routerLink="/detail/{{hero.id}}">
        <span class="badge">{{hero.id}}</span> {{hero.name}}
      </a>
    </li>
  </ul>
</div>


